.aesthetics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aesthetics__title {
  margin: 80px 0 40px 0;
  font-size: 48px;
  text-align: center;
  width: 100%;
}

.aesthetics__item {
  padding: 40px 20px 20px 20px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.aesthetics__row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.aesthetics__header {
  display: flex;
  justify-content: start;
  margin-left: 16px;
}

.aesthetics__icon {
  margin-left: 20px;
}

.aesthetics__heading {
  font-family: "TT Travels", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 10px 170px 10px 0;
}

.aesthetics__stars {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.aesthetics__star {
  background-color: #F7F1E9;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  padding: 6px 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  gap: 4px;
  margin-right: -18px;
  align-items: center;
}

.aesthetics__images {
  display: flex;
  gap: 8px;
}

.aesthetics__image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.aesthetics__image--first {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .aesthetics {
    padding: 1px;
  }

  .aesthetics__title {
    font-size: 28px;
    margin: 20px 0 10px 0;
    line-height: 32px;
  }

  .aesthetics__item {
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .aesthetics__image--first {
    margin-bottom: 10px;
  }  
  
  .aesthetics__row {
    flex-direction: column;
    gap: 10px;
  }

  .aesthetics__item > .aesthetics__row > div {
    width: 100%;
  }

  .aesthetics__heading {
    font-size: 24px;
    margin: 8px 8px;
    letter-spacing: -1px;
  }

  .aesthetics__star {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 4px 8px;
    width: 190px;
    margin-right: auto;
  }

  .aesthetics__icon {
    margin-left: 0;
    width: 24px;
    height: 24px;
  }

  .aesthetics__header {
    margin-left: 0;
    align-items: center;
    flex-direction: row;
    padding: 5px;
  }

  .aesthetics__row > div {
    gap: 0;
  }
}

@media (max-width: 480px) {
  .aesthetics {
    padding: 0;
  }

  .aesthetics__title {
    font-size: 24px;
    line-height: 28px;
  }

  .aesthetics__item {
    padding: 1px;
  }

  .aesthetics__row {
    gap: 8px;
  }

  .aesthetics__heading {
    font-size: 20px;
    line-height: 24px;
  }

  .aesthetics__star {
    font-size: 12px;
    padding: 4px 8px;
    width: 190px;
    margin-right: auto;
  }

  .aesthetics__icon {
    width: 20px;
    height: 20px;
  }
}
