.estetic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .estetic h1 {
    margin: 80px 0 40px;
    font-size: 48px;
    text-align: center;
    width: 100%;
  }
  
  .estetic .estetdiv {
    padding: 40px 20px 20px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
  
  .estetic .icon {
    margin-left: 20px;
  }
  
  .estetic div {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .estetic div h3 {
    font-family: "TT Travels", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: -2px;
    margin: 10px 170px 10px 0;
  }
  
  .estetic div .star {
    background-color: #F7F1E9;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    padding: 6px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    gap: 4px;
    margin-right: -18px;
    align-items: center;
  }
  
  .estetic div div div > div {
    display: flex;
    justify-content: start;
    margin-left: 16px;
  }
  
  .estetic img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Мобильная адаптация (до 768px) */
  @media (max-width: 768px) {
    .estetic {
      padding: 1px;
    }
  
    .estetic h1 {
      font-size: 28px;
      margin: 20px 0 10px;
      line-height: 32px;
    }
  
    .estetic .estetdiv {
      padding: 1px;
      margin-bottom: 10px;
      border-radius: 8px;
    }
    .estetic .estetdiv .firstphoto {
      margin-bottom: 10px;
    }
  
    .estetic div {
      flex-direction: column;
      gap: 10px;
    }
  
    .estetic > div > div {
      width: 100%;
    }
  
    .estetic div h3 {
      font-size: 24px;
      margin: 8px;
      letter-spacing: -1px;
    }
  
    .estetic div .star {
      margin-bottom: 10px;
      font-size: 12px;
      padding: 4px 8px;
      width: 190px;
      margin-right: auto;
    }
  
    .estetic .icon {
      margin-left: 0;
      width: 24px;
      height: 24px;
    }
  
    .estetic div div div > div {
      margin-left: 0;
      align-items: center;
      flex-direction: row;
      padding: 5px;
    }
  
    .estetic div > div {
      gap: 0;
    }
  }
  
  /* Ещё более узкая мобильная адаптация (до 480px) */
  @media (max-width: 480px) {
    .estetic {
      padding: 0;
    }
  
    .estetic h1 {
      font-size: 24px;
      line-height: 28px;
    }
  
    .estetic .estetdiv {
      padding: 1px;
    }
  
    .estetic div {
      gap: 8px;
    }
  
    .estetic div h3 {
      font-size: 20px;
      line-height: 24px;
    }
  
    .estetic div .star {
      font-size: 12px;
      padding: 4px 8px;
      width: 190px;
      margin-right: auto;
    }
  
    .estetic .icon {
      width: 20px;
      height: 20px;
    }
  }
  