.App {
    text-align: center;
  }
  
  .navbar-placeholder {
    background-color: var(--color-main-white);
    height: 120px;
  }
  
  /* Мобильная адаптация (до 768px) */
  @media (max-width: 768px) {
    .navbar-placeholder {
      height: 80px;
    }
  }
  