@import './reset.css';
@import './variables.css';

:root {
  font-size: 16px;
  background-color: var(--color-main-white);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "TT Travels", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -3px;
}

@media (max-width: 768px) {
  body {
    padding: 0 1px;
  }
  br {
    display: none;
  }
  h1 {
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -1px;
  }
}
