/* Helvetica Neue */
@font-face {
  font-family: 'Helvetica';
  src: url('/src/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/fonts/Helvetica/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} 

@font-face {
  font-family: 'Helvetica';
  src: url('/src/fonts/Helvetica/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* TT Travels */
@font-face {
  font-family: 'TT Travels';
  src: url('/src/fonts/Travels/TT Travels Trial Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/src/fonts/Travels/TT Travels Trial DemiBold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/src/fonts/Travels/TT Travels Trial Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}



:root {
  /* Цвета фона */
  --color-main-white: #FAF8F5;
 
  /* Цвета бренда */
  --color-brand-green: #A0A747;
  --color-brand-brown: #1A1A1A;
  --color-brand-blue: #1F2057;
  --color-brand-blue-2: #465587;
  --color-brand-cyan: #77DFE9;
  --color-brand-beige: #D6D1B2;
  --color-brand-yellow: #D5B753;
  --color-brand-orange: #BE6833;

  /* Цвета текста */
  --color-text-primary: #1A1A1A;
  --color-text-grey: #646562;

  /* Цвета линий */
  --color-line-primary: #EAE3D9;
  --color-line-dark: #C4BDB3;
}
