.finish {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.finish .mainTitle {
  text-align: center;
  position: relative;
}

.finish .mainTitle p {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin: 10px 0 60px 0;
}

.finish .line3 {
  position: absolute;
  top: 95px;
  left: 186px;
}

.finish .cards {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .finish {
    margin-bottom: 50px;
  }

  .finish .mainTitle p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 40px 0;
    width: 70%;
    justify-self: center;
  }

  .finish .line3 {
    display: none;
  }

  .finish .cards {
    flex-direction: column;
    gap: 15px;
  }
}
