.apartments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.apartments h1 {
  text-align: center;
  margin-bottom: 40px;
  position: relative; /* чтобы .line4  позиционировался относительно h1 */
}

.apartments h1 .line4 {
  position: absolute;
  top: 105px;
  left: 350px;
  z-index: -1;
}

.apartments .line5 {
  position: absolute;
  top: 153px;
  left: 230px;
}

/* Мобильные стили (до 768px) */
@media (max-width: 768px) {
  .apartments {
    gap: 12px;
  }

  .apartments h1 {
    margin-bottom: 10px;
  }

  .apartments h1 br {
    display: none;
  }

  .apartments h1 .line4 {
    display: none;
  }

  .apartments .line5 {
    display: none;
  }
}
